$main-color = #04a3ee
.calendar-box
  font-size: .14rem;
  .calendar-hd
    position: relative;
    z-index: 1;
    .calendar-date-box
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: .2rem .2rem .1rem;
      align-items: center;
      .calendar-date
        display: flex;
        font-size: .12rem;
        color: #ffffff;
        line-height: 1;
        .calendar-date-month
          font-size: .28rem;
          margin-right: .04rem;
        div:last-child
          display: flex;
          flex-direction: column;
          line-height: .14rem;
      .calendar-today-button
        padding: .1rem;
        line-height: .14rem;
        background: #ffffff;
        border-radius: 100%;
        color $main-color
        position: relative;
        right: -.1rem;
        box-shadow: 0 0 0.1rem #fff;
    .calendar-week
      display: flex;
      justify-content: space-around;
      line-height: .3rem;
      font-size: .1rem;
      color: #ffffff;
      span
        padding: 0 .1rem;
        margin: 0 -.1rem;

/*日期容器*/
.calendar-day-wrapper
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  .calendar-day-container
    width: 300vw;
    overflow: auto;
    position: relative;
    left: -100vw;
  .calendar-day-group
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 62vw;
    background: #ffffff;
    overflow: auto;
    padding: .1rem .8vw;
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    .calendar-day-box
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 14vw;
      color: #666;
      font-weight: 600;
      float: left;
      &.otherMonth
        opacity: .6;
      span
        position: relative;
        display: block;
        text-align: center;
        border-radius: 100%;
        line-height: .2rem;
        width: .38rem;
        height: .38rem;
        padding: .1rem;
        margin: -.1rem;
        box-sizing: border-box;
        user-select: none;
      &.event-flag span:after
        content: '';
        width: 15%;
        height: 15%;
        background: #04a3ee;
        position: absolute;
        bottom: 10%;
        left: 42.5%;
        border-radius: 100%;
      &.today-flag span
        background: rgba(4, 178, 255, 0.49);
        color: #ffffff;
      &.today-flag.select-flag span
        background: rgb(4, 178, 255);
        color: #ffffff;
        border: none;
      &.select-flag span
        border: 1px solid #dddddd
      &.event-flag.select-flag span:after
        background: #f4d10d;

//日期选择
.mask
  position fixed
  top: 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .3)
  z-index 999

.data-select-box
  position absolute
  bottom 0
  height 60vw
  width 100vw
  background #f7f7f7
  .data-select-head
    display flex
    padding 0 .12rem
    justify-content space-between
    background #fff
    height 10vw
    align-items center
    div
      padding .04rem .08rem
      border-radius .03rem
      color #666
      &:last-child
        background $main-color
        color rgba(255,255,255,.95)
  .data-select-content
    position relative
    overflow auto
    .data-select-value-box
      position absolute
      top 0
      width 100%
      height 50vw
      box-sizing border-box
      background linear-gradient(to bottom,#f7f7f7 5%,rgba(247,247,247,0.5) 40%,rgba(247,247,247,0) 40%,rgba(247,247,247,0) 60%,rgba(247,247,247,0.5) 40%,#f7f7f7 95%);
      z-index 1
      .data-select-group
        display flex
        height 100%
        align-items center
        float left
        width 33.3333%
        line-height 10vw
        user-select none
        &>span
          position relative
          width 100%
          text-align center
          color transparent
          span
            position absolute
            color $main-color
      &:before
        content ''
        width 100%
        height 1px
        background #ddd
        position absolute
        top:20vw
        left 0
        right 0
      &:after
        content ''
        width 100%
        height 1px
        background #ddd
        position absolute
        bottom:20vw
        left 0
        right 0
    .content-group
      float left
      text-align center
      width 33.3333%
      span
        display flex
        height 10vw
        align-items center
        justify-content center
        user-select none




